# Node modules
node_modules/

# in .gitignore
rem-music/
.env/
venv/
__pycache__/
*.pyc


# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/

# Optional: Railway or deployment files
.rw-cache/
